.gradient-bg{
    background:linear-gradient(to left,#0097A7 30%,#00ACC1,#00BCD4) !important;
}
header, main, footer {
    padding-left: 300px;
}

.pl-15{
    padding-left:15px !important;
}

.mt-15{
    margin-top:15px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}